<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>

<script>

    function renderChart(config){
        Highcharts.chart(config.selector, {
            chart: {
                backgroundColor:'rgba(255, 255, 255, 0.0)',
                type: 'spline',
                scrollablePlotArea: {
                    minWidth: 600,
                    scrollPositionX: 1
                }
            },
            labels: {
                style:{
                    color: '#fff'
                }
            },
            title: {
                text: config.text,
                align: 'left'
            },
            subtitle: {
                text: config.subtitle,
                align: 'left'
            },
            xAxis: {
                className: 'highcharts-color-0',
                tickColor:'#fff',
                minorTickColor: '#fff',
                lineColor: '#fff',
                lineWidth: 1,
                textColor: '#fff',
                type: 'datetime',
                labels: {
                    color: '#fff',
                    overflow: 'justify'
                }
            },
            yAxis: {
                className: 'highcharts-color-0',
                tickColor:'#fff',
                minorTickColor: '#fff',
                lineColor: '#fff',
                lineWidth: 1,
                textColor: '#fff',
                title: {
                    text: config.yAxisTitle
                },
                labels: {
                    color: '#fff',
                    overflow: 'justify'
                },
                minorGridLineWidth: 0,
                gridLineWidth: 0,
                alternateGridColor: null,
            },
            tooltip: {
                valueSuffix: ' m/s'
            },
            plotOptions: {
                spline: {
                    lineWidth: 4,
                    states: {
                        hover: {
                            lineWidth: 5
                        }
                    },
                    marker: {
                        enabled: false
                    },
                    pointInterval: 3600000, // one hour
                    pointStart: Date.UTC(2018, 1, 13, 0, 0, 0)
                }
            },
            series: config.series,
            navigation: {
                menuItemStyle: {
                    fontSize: '10px'
                }
            }
        });
    }

    renderChart({
        selector: 'container1',
        title: 'Chart Title',
        subtitle: 'Chart Subtitle',
        yAxisTitle: 'YAxis Title',
        series: [{
                name: 'Series Title',
                data: [
                    3.7, 3.3, 3.9, 5.1, 3.5, 3.8, 4.0, 5.0, 6.1, 3.7, 3.3, 6.4,
                    6.9, 6.0, 6.8, 4.4, 4.0, 3.8, 5.0, 4.9, 9.2, 9.6, 9.5, 6.3,
                    9.5, 10.8, 14.0, 11.5, 10.0, 10.2, 10.3, 9.4, 8.9, 10.6, 10.5, 11.1,
                    10.4, 10.7, 11.3, 10.2, 9.6, 10.2, 11.1, 10.8, 13.0, 12.5, 12.5, 11.3,
                    10.1
        ]}]
    });

    // $.ajax({
    //     url: '/classify',
    //     data: {
    //         normal: 1000,
    //         ideal:70,
    //         inconclusive: 10,
    //         inaccurate: 10
    //     },
    //     success: (err,res)=>{
    //         console.log('err',err,'res',res);
    //     }
    // });

    // $( "#night" ).scroll(function() {
    //     
    //   });

      $(window).scroll(function (event) {
        var scroll = $(window).scrollTop();
        // Do something
        if(scroll > 300){
            $('body').addClass('night');
            // $( "body" ).css("background-color",'#000');
        } else {
            // $('body').removeClass('night');
            // $( "body" ).css("background-color",'#22232a');
        }
        // if(scroll > 500){
        //     $('img.alert').addClass('zoom-image');
        // } else {
        //     $('img.alert').removeClass('zoom-image');

        // }
        console.log('scroll',scroll,scroll > 300, scroll < 600);
});

</script>
