<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container night">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" style="height: 650px;margin-top: 10%;">
            <div class="container">
                    <!-- <img class="slam hide_dark"src="logo_black.png" width="100%"></img> -->
                    <img class="slam hide_light" src="logo_white.png" width="100%"></img>
            </div>
    </div>


    <div class="jumbotron">
            <div class="container">
                <h1 class="jumbotron-heading">Suggestive alerts</h1>
                <p class="lead text-muted">For when you don't feel like getting out of bed.</p>
                <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p> -->
            </div>
    </div>

    <div class="jumbotron" style="min-height: 0px;">
            <div class="container">
                <h1 class="jumbotron-heading">The problem</h1>
               <p class="lead text-muted">It's 12am Saturday...</p> -->
                <!-- <p> -->
                    <!-- <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a> -->
                    <!-- <a href="#" class="btn btn-secondary my-2">Go back to sleep</a> -->
                <!-- </p> --> 
            </div>
    </div>


    <!-- <div class="jumbotron">
            <div class="container">
                <h1 class="jumbotron-heading">It's </h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p>
            </div>
    </div> -->


    <div class="jumbotron" id="night" style="background: none;">
        <div class="container" style="width: 444px;background: none;">
            <div class="marvel-device iphone5c blue">
                <div class="top-bar"></div>
                <div class="sleep"></div>
                <div class="volume"></div>
                <div class="camera"></div>
                <div class="sensor"></div>
                <div class="speaker"></div>
                <div class="screen">
                    <!-- Content goes here -->
                    <% include ../partials/alert %>
                    <img class="alert" src="alert.png" width="100%">
                </div>
                <div class="home"></div>
                <div class="bottom-bar"></div>
            </div>
        </div>
    </div>



    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">What does 97 mean?</h1>
                <p class="lead text-muted">Literally nothing.</p>

                <!-- <div class="battery__sad">
                    <div class="face"></div>
                </div> -->
                <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p> -->
            </div>
    </div>

    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">97 means getting out of bed.</h1>
                <p class="lead text-muted">Logging in, opening a run, and looking at screenshots...</p>
                <div class="side-by-side" style="margin:0 0">
                    <img class="alert" src="error-dashboard.png" style="display:inline-block;width:450px">
                    <h1 class="jumbotron-heading" style="width:50px;display:inline-block">!=</h1>
                    <img class="alert" src="failed-dashboard.png" style="display:inline-block;width:450px">
                </div>
                <!-- <div class="battery__sad">
                    <div class="face"></div>
                </div> -->
                <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p> -->
            </div>
    </div>

    


    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">What you think:</h1>
                <p class="lead text-muted">Clearly, these aren't the same</p>
                <img class="alert" src="diagram.png" style="display:inline-block;width:100%">
            </div>
    </div>


    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">In context</h1>
                <p class="lead text-muted">It's a completely different page</p>
                <img class="alert" src="diagram2.png" style="display:inline-block;width:100%">
            </div>
    </div>


    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">Can we compare something else?</h1>
                <p class="lead text-muted">Is anything close?</p>
                <img class="alert" src="diagram3.png" style="display:inline-block;width:100%">
            </div>
    </div>


    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">A better comparison</h1>
                <p class="lead text-muted">What's the real difference?</p>
                <div class="side-by-side" style="margin:0 0">
                    <img class="alert" src="success-dashboard.png" style="display:inline-block;width:450px">
                    <h1 class="jumbotron-heading" style="width:50px;display:inline-block">~</h1>
                    <img class="alert" src="failed-dashboard.png" style="display:inline-block;width:450px">
                    <!-- <p class="lead text-muted">Or techinically speaking...</p> -->
                    <img class="alert" src="code-change.png" style="display:inline-block;width:100%">
                </div>
                <!-- <div class="battery__sad">
                    <div class="face"></div>
                </div> -->
                <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p> -->
            </div>
    </div>


    <!-- <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">Can we compare something else?</h1>
                <p class="lead text-muted">Is anything close?</p>
           
            </div>
    </div> -->

    <!-- <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">Get to the point...</h1>
            </div>
    </div>
 -->


    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">Text classifer</h1>
                <p class="lead text-muted">Finally, the AI stuff</p>

                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Difference Text</th>
                            <th scope="col">Class</th>
                            <th scope="col">Suggestion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row"><img src="check.png" width="20px"/></th>
                            <td>Incorrect user ID or password.</td>
                            <td>Validation Error</td>
                            <td>Credential Change</td>
                          </tr>
                          <tr>
                            <th scope="row"><img src="times.png" width="20px"/></th>
                            <td>404</td>
                            <td>Inconclusive</td>
                            <td>N/A</td>
                          </tr>
                          <tr>
                            <th scope="row"><img src="times.png" width="20px"/></th>
                            <td>Random words</td>
                            <td>Inaccurate</td>
                            <td>N/A</td>
                          </tr>
                        </tbody>
                      </table>
            </div>
    </div>




    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">Neural network</h1>
                <p class="lead text-muted">The problem</p>

                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Is Success</th>
                            <th scope="col">Is Error</th>
                            <th scope="col">Script Change</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                                <td scope="row">Last Success</td>
                                <td scope="row"><img src="check.png" width="20px"/></td>
                                <td></td>
                                <td></td>
                          </tr>
                          <tr>
                                <td scope="row">This Error</td>
                                <td scope="row"></td>
                                <td><img src="times.png" width="20px"/></td>
                                <td></td>
                            </tr>

                            <tr>
                                    <td scope="row">Next Result</td>
                                    <td scope="row"></td>
                                    <td></td>
                                    <td><img src="ask.png" width="20px"/></td>
                                </tr>
                        </tbody>
                      </table>
            </div>
    </div>




    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">Change pattern</h1>
                <p class="lead text-muted">Detecting a history of changes</p>

                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Is Success</th>
                            <th scope="col">Is Error</th>
                            <th scope="col">Do you need a script change</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                                <td scope="row"></td>
                                <td><img src="times.png" width="20px"/></td>
                                <td></td>
                            </tr>

                            <tr>
                                    <td scope="row"><img src="check.png" width="20px"/></td>
                                    <td></td>
                                    <td><img src="check.png" width="20px"/></td>
                                </tr>
                        </tbody>
                      </table>
            </div>
    </div>


    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">Find the elusive unicorn</h1>
                <p class="lead text-muted">With a look at the past</p>

                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Is Success</th>
                            <th scope="col">Is Error</th>
                            <th scope="col">Pattern of Script Changes</th>
                            <th scope="col">Valid Class</th>
                            <th scope="col">Text Class</th>
                            <th scope="col">Prediction</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                                <td scope="row"></td>
                                <td><img src="times.png" width="20px"/></td>
                                <td><img src="check.png" width="20px"/></td>
                                <td><img src="check.png" width="20px"/></td>
                                <td>Validation Error</td>
                                <td>Credential Change</td>
                            </tr>

                            <!-- <tr>
                                    <td scope="row"><img src="check.png" width="20px"/></td>
                                    <td></td>
                                    <td><img src="check.png" width="20px"/></td>
                                    <td></td>
                                    <td></td>
                                </tr> -->
                        </tbody>
                      </table>
            </div>
    </div>


    <div class="jumbotron">
            <div class="container">
                <h1 class="jumbotron-heading">Pipe dreams</h1>
               <p class="lead text-muted">Detect errors with your script not your platform</p>
                <!-- <p> -->
                    <!-- <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a> -->
                    <!-- <a href="#" class="btn btn-secondary my-2">Go back to sleep</a> -->
                <!-- </p> --> 
            </div>
    </div>




    <div class="jumbotron" style="min-height: 0px;">
            <div class="container">
                <h1 class="jumbotron-heading">Sorry to wake you</h1>
               <p class="lead text-muted">You may go back to sleep now</p>
<!-- 
               <h1 class="jumbotron-heading">So at 2am...</h1>
               <p class="lead text-muted"></p> -->
                <!-- <p> -->
                    <!-- <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a> -->
                    <!-- <a href="#" class="btn btn-secondary my-2">Go back to sleep</a> -->
                <!-- </p> --> 
            </div>
    </div>

    <div class="jumbotron" id="night" style="background: none;">
            <div class="container" style="width: 444px;background: none;">
                 
                <div class="marvel-device iphone5c blue">
                    <div class="top-bar"></div>
                    <div class="sleep"></div>
                    <div class="volume"></div>
                    <div class="camera"></div>
                    <div class="sensor"></div>
                    <div class="speaker"></div>
                    <div class="screen">
                        <!-- Content goes here -->
                        <% include ../partials/ok-alert %>
                        <img class="alert" src="alert.png" width="100%">
                    </div>
                    <div class="home"></div>
                    <div class="bottom-bar"></div>
                </div>
            </div>
        </div>

<!-- 
    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">We're offering to do what you're doing here.</h1>
                <p class="lead text-muted">Literally nothing.</p>

                <!-- <div class="battery__sad">
                    <div class="face"></div>
                </div> -->
                <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p> -->
            </div>
    </div> -->


    <div class="jumbotron">
        <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>