<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
            <div class="container">
                <h1 class="jumbotron-heading">Hackathon</h1>
                <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p> -->
            </div>
    </div>


    <div class="jumbotron">
            <div class="container">
                <h1 class="jumbotron-heading">The problem</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p>
            </div>
    </div>


    <div class="jumbotron" id="night">
            <div class="container">
                <h1 class="jumbotron-heading">It's </h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p>
            </div>
    </div>

    <div class="marvel-device iphone5c blue">
            <div class="top-bar"></div>
            <div class="sleep"></div>
            <div class="volume"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            <div class="speaker"></div>
            <div class="screen">
                <!-- Content goes here -->
            </div>
            <div class="home"></div>
            <div class="bottom-bar"></div>
        </div>



    <div class="jumbotron">
            Hackathon!
        </div>


    <div class="jumbotron">
        <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>