<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container night">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" style="height: 650px;margin-top: 10%;">
            <div class="container">
                    <!-- <img class="slam hide_dark"src="logo_black.png" width="100%"></img> -->
                    <img class="slam hide_light" src="logo_white.png" width="100%"></img>
            </div>
    </div>


    <div class="jumbotron">
            <div class="container">
                <h1 class="jumbotron-heading">Suggestive Alerts</h1>
                <p class="lead text-muted">For when you don't feel like getting out of bed.</p>
                <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p> -->
            </div>
    </div>

    <div class="jumbotron" style="min-height: 0px;">
            <div class="container">
                <h1 class="jumbotron-heading">The problem</h1>
               <p class="lead text-muted">It's 12am Saturday...</p> -->
                <!-- <p> -->
                    <!-- <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a> -->
                    <!-- <a href="#" class="btn btn-secondary my-2">Go back to sleep</a> -->
                <!-- </p> --> 
            </div>
    </div>


    <!-- <div class="jumbotron">
            <div class="container">
                <h1 class="jumbotron-heading">It's </h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p>
            </div>
    </div> -->


    <div class="jumbotron" id="night" style="background: none;">
        <div class="container" style="width: 444px;background: none;">
            <div class="marvel-device iphone5c blue">
                <div class="top-bar"></div>
                <div class="sleep"></div>
                <div class="volume"></div>
                <div class="camera"></div>
                <div class="sensor"></div>
                <div class="speaker"></div>
                <div class="screen">
                    <!-- Content goes here -->
                    <% include ../partials/alert %>
                    <img class="alert" src="alert.png" width="100%">
                </div>
                <div class="home"></div>
                <div class="bottom-bar"></div>
            </div>
        </div>
    </div>



    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">What does 97 mean?</h1>
                <p class="lead text-muted">Literally nothing.</p>

                <!-- <div class="battery__sad">
                    <div class="face"></div>
                </div> -->
                <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p> -->
            </div>
    </div>

    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">97 means getting out of bed.</h1>
                <p class="lead text-muted">Logging in, opening a run, and looking at screenshots...</p>
                <div class="side-by-side" style="margin:0 0">
                    <img class="alert" src="error-dashboard.png" style="display:inline-block;width:450px">
                    <h1 class="jumbotron-heading" style="width:50px;display:inline-block">!=</h1>
                    <img class="alert" src="failed-dashboard.png" style="display:inline-block;width:450px">
                </div>
                <!-- <div class="battery__sad">
                    <div class="face"></div>
                </div> -->
                <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p> -->
            </div>
    </div>

    


    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">Or... clealy</h1>
                <p class="lead text-muted">These aren't the same</p>
                <img class="alert" src="diagram.png" style="display:inline-block;width:100%">
            </div>
    </div>


    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">Or... clealy</h1>
                <p class="lead text-muted">These aren't the same</p>
                <img class="alert" src="diagram2.png" style="display:inline-block;width:100%">
            </div>
    </div>


    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">Or... clealy</h1>
                <p class="lead text-muted">These aren't the same</p>
                <img class="alert" src="diagram3.png" style="display:inline-block;width:100%">
            </div>
    </div>
<!-- 
    <div class="jumbotron" class="float:none">
            <div class="container">
                <h1 class="jumbotron-heading">We're offering to do what you're doing here.</h1>
                <p class="lead text-muted">Literally nothing.</p>

                <!-- <div class="battery__sad">
                    <div class="face"></div>
                </div> -->
                <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Get up, open your laptop, log into alertsite</a>
                    <a href="#" class="btn btn-secondary my-2">Go back to sleep</a>
                </p> -->
            </div>
    </div> -->


    <div class="jumbotron">
        <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>